.dig_dig_wrapper1 {
  border-color: white;
  border-bottom-color: transparent;
  border-left-color: transparent;
}

.dig_dig_wrapper2 {
  border-color: white;
  border-bottom-color: transparent;
  border-left-color: transparent;
}

.dig_dig_wrapper3 {
  border-color: white;
  border-bottom-color: transparent;
  border-left-color: transparent;
}
.dig_dig_item_ttle {
  max-width: 370px;
}
.dig_dig_item_number {
  transform: translateY(16px);
  font-weight: 600;
}
.dig_dig_title {
  max-width: 126px;
}
.dig_dig_numbers {
  padding-top: 100px;
}
.dig_dig_number_title {
  max-width: 920px;
}
.dig_dig_numbers_wrapper {
  max-width: 920px;
}
@media (max-width: 678px) {
  .dig_dig_numbers {
    padding-top: 80px;
  }
  .dig_dig_title {
    max-width: 96px;
  }
  .dig_dig_number_title {
    max-width: 228px;
    margin: 0 auto;
    margin-bottom: 60px;
  }
  .dig_dig_item_number {
    transform: translateY(0px);
  }
  .dig_dig_item_ttle {
    text-align: left;
  }
  .im_hiw_item_text {
    text-align: left;
    max-width: 251px;
  }
}

/* DM NUMBERS */

.dm_numbers {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 100px;
  padding-bottom: 100px;
}
.dm_numbers_wrapper {
  max-width: 1139px;
  margin: 0 auto;
  width: 100%;
}
.dm_numbers_titles_wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.dm_numbers_titles_section_title {
  max-width: 141px;
}
.dm_numbers_titles_title {
  color: #141751;
  font-family: 'Gotham-normal';
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  max-width: 800px;
  margin-bottom: 70px;
}
.dm_numbers_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.dm_numbers_content_texts_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.dm_numbers_content_main-text {
  color: #814099;
  font-family: 'Gotham-bold';
  font-size: 190px;
  font-style: normal;
  font-weight: 700;
  line-height: 65%;
}
.dm_numbers_content_plus {
  color: rgba(49, 144, 189, 0.9);
  font-family: 'Gotham-normal';
  font-size: 120px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.dm_numbers_content_text {
  color: #141751;
  font-family: 'Gotham-normal';
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  align-self: flex-end;
  margin-right: 200px;
}
@media (max-width: 825px) {
  .dm_numbers_content_text {
    margin-right: 0;
  }
  .dm_numbers_titles_title {
    font-size: 32px;
    max-width: 320px;
    text-align: center;

    margin: 0 auto;
    margin-bottom: 32px;
  }
  .dm_numbers_content_main-text {
    font-size: 80px;
  }
  .dm_numbers_content_plus {
    font-size: 60px;
  }
  .dm_numbers_content_text {
    align-self: center;
    font-size: 18px;
  }
  .dm_numbers {
    padding-bottom: 80px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
.dm_marketan {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}
.dm_marketan_wrapper {
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
}
.dm_marketan_title {
  color: #141751;
  font-family: 'Gotham-normal';
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  text-align: center;
}
@media (max-width: 825px) {
  .dm_marketan_title {
    font-size: 32px;
    text-align: center;
  }
}

.img_running_line {
  gap: 63px;
}

.corechair {
  max-width: 150px;
  max-height: 150px;
}
.main_corechair {
  max-width: 163px;
  max-height: 129px;
}
.lhk {
  max-width: 258px;
  max-height: 94px;
}
.servotech {
  max-width: 288px;
  max-height: 112px;
}
.optyx {
  max-width: 175px;
  max-height: 47px;
}
.valhalla {
  max-width: 190px;
  max-height: 117px;
}
.lefttoright {
  animation: lefttoright 50s infinite alternate linear;
  margin-bottom: 50px;
}
.imgrighttoleft {
  animation: imgrighttoleft 50s infinite alternate linear;
}
.pad-fix {
  padding: 0;
}
.running-line_wrapper img {
  transition: all 0.5s;
  opacity: 1;
}
.running-line_wrapper img:hover {
  transition: all 0.5s;
  opacity: 1;
}
.running-line_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
@keyframes lefttoright {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(150%);
  }
}

@keyframes imgrighttoleft {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-150%);
  }
}

@keyframes lefttorightmob {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(400%);
  }
}

@keyframes imgrighttoleftmob {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-400%);
  }
}
.dm_clients_title {
  color: #141751;
  text-align: center;
  font-family: 'Gotham-normal';
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 50px;
}
.dm_clients {
  width: 100%;
  padding-top: 100px;
  padding-left: 20px;
  padding-right: 20px;
}
.dm_clients_wrapper {
  max-width: 1143px;
  margin: 0 auto;
  overflow: hidden;
  padding: 60px 20px 80px;
  border-radius: 40px;
  background: var(--White, #fff);
  position: relative;
}
.left-side_block-fading1 {
  position: absolute;
  left: 0;
  top: 220px;
  z-index: 2;
  width: 93px;
  height: 203px;
  background: linear-gradient(90deg, #fff 2.15%, rgba(255, 255, 255, 0) 92.47%);
}
.left-side_block-fading2 {
  position: absolute;
  left: 0;
  top: 350px;
  z-index: 2;
  width: 93px;
  height: 203px;
  background: linear-gradient(90deg, #fff 2.15%, rgba(255, 255, 255, 0) 92.47%);
}
.right-side_block-fading1 {
  position: absolute;
  right: 0;
  top: 350px;
  z-index: 2;
  width: 93px;
  height: 203px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 2.15%, #fff 92.47%);
}
.right-side_block-fading2 {
  position: absolute;
  right: 0;
  top: 220px;
  z-index: 2;
  width: 93px;
  height: 203px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 2.15%, #fff 92.47%);
}
@media (max-width: 1170px) {
  .right-side_block-fading1 {
    top: 50px;
  }
  .left-side_block-fading1 {
    top: 50px;
  }
  .right-side_block-fading2 {
    top: 250px;
  }
  .left-side_block-fading2 {
    top: 250px;
  }
  .corechair {
    max-width: 100px;
    max-height: 100px;
  }
  .main_corechair {
    max-width: 103px;
    max-height: 82px;
  }
  .lhk {
    width: 164.002px;
    height: 60.016px;
  }
  .servotech {
    width: 182.977px;
    height: 71.269px;
  }
  .optyx {
    width: 111.142px;
    height: 30.008px;
  }
  .valhalla {
    width: 120.629px;
    height: 74.27px;
  }
  .img_running_line {
    gap: 15px;
  }

  .lefttoright {
    animation: lefttorightmob 35s infinite alternate linear;
    margin-bottom: 30px;
  }
  .imgrighttoleft {
    animation: imgrighttoleftmob 35s infinite alternate linear;
  }
  .dm_clients_wrapper {
    padding-top: 40px;
    padding-bottom: 60px;
  }
  .dm_clients_title {
    font-size: 32px;
  }
}
